/* CSS */
body{
    margin: 0;
    padding: 0;
    background-image: url("cali.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
  
  
  }
  .loginbox{
    width: 460px;
    height: 820px;
    background: #1f2831;
    color:white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  .avatar{
    background-color:rgb(160, 41, 41);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:-50px;
    left: calc(50% - 50px);
  }
  h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  .loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  .loginbox input{
    width: 100%;
    margin-bottom: 20px;
  }
  .loginbox input[type="text"], input[type="password"], input[type="email"]{
    border:none;
    border-bottom: 1px solid #fff;
    color: white;
    background: transparent;
    outline:none;
    height: 40px;
  
  
  }
  .loginbox input[type="submit"], .loginbox input[type="reset"]{
    border:none;
    outline: none;
    background-color: rgb(160, 41, 41);
    color: #fff;
    height: 40px;
    width: 45%;
    font-size: 18px;
    border-radius: 25px;
    margin-top: 40px;
  }
  .loginbox input[type="submit"]:hover, .loginbox input[type="reset"]:hover{
    cursor: pointer;
    background: #ffc107;
    color:white;
    
  }
  .loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
  }
  .loginbox a:hover{
    color: #ffc107;
  }
.but1{
float: left;
}
.but2{
float: right;
}
.sex input {
  display: inline-block;
  width: 60%;
}